@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */
:root {
  --primary-font: "Outfit";
  --secondary-font: "Roboto";
  --primary-color: #bf390b;
  --secondary-color: #111111;
  --gradient: linear-gradient(
    180deg,
    rgba(170, 170, 170, 0.1) 0%,
    #cfcfcf 100%
  );
  --accent-1: #595959;
  --accent-2: #a0a0a0;
  --accent-3: #cdcdcd;
  --accent-4: #ffddd1;
  --accent-5: #ebebeb;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

body {
  background: var(--white);
}

/*====================
  Reset Default CSS End
  ====================*/

/* Hero Start */

.hero-slider-container {
  width: 100%;
  height: calc(100vh - 150px);
  overflow: hidden;
}

.hero {
  position: relative;
}

.hero .hero_slide {
  position: relative;
}

.hero .hero_content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white);
}

.hero .hero_content h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.4em;
}

.hero .hero_content p {
  font-size: 16px;
  font-weight: 500;
  max-width: 70%;
  margin: 50px auto;
  font-family: var(--secondary-font);
}

.hero .hero_content .explore_btn {
  font-family: var(--secondary-font);
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  padding: 14.5px 46px;
  border-radius: 8px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  transition: color 0.5s;
  border: none;
}

.hero .hero_content .explore_btn span {
  font-family: var(--secondary-font);
  z-index: 999;
}

.hero .hero_content .explore_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border: none;
  background: var(--white);
  transition: transform 0.5s ease;
  z-index: 0;
}

.hero .hero_content .explore_btn:hover::before {
  transform: translateX(100%);
}

.hero .hero_content .explore_btn:hover {
  color: var(--secondary-color);
}

.hero .hero_content .explore_btn span {
  position: relative;
  z-index: 1;
}

/* Swiper Arrows */
.hero .swiper-button-next,
.hero .swiper-button-prev {
  display: none !important;
}

.hero .swiper-pagination-bullet {
  display: inline-block;
  width: 40px;
  height: 10px;
  background: var(--white) !important;
  border-radius: 4px;
  opacity: 1 !important;
}

.hero .swiper-pagination-bullet-active {
  width: 40px;
  height: 10px;
  background: var(--primary-color) !important;
  border-radius: 4px !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 9px !important;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .hero .hero_content {
    width: 100%;
  }

  .hero .hero_content h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.4em;
  }
}

@media only screen and (max-width: 992px) and (orientation: landscape) {
  .hero .hero_content p {
    max-width: 100%;
    display: block;
    text-align: center;
    margin: 20px 0px !important;
  }

  .hero .hero_content h1 {
    line-height: 40px !important;
  }

  .hero .hero_content {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .hero-slider-container {
    height: 80vh;
    background-size: cover !important;
    object-fit: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  .hero-slide {
    background-size: cover !important;
    object-fit: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  .hero .hero_content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0px 12px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
  }

  .hero .hero_content h1 {
    font-size: 32px;
    line-height: 45px;
    margin: 0;
  }

  .hero .hero_content p {
    margin: 50px auto;
  }

  .hero .hero_content .explore_btn {
    font-size: 16px;
    padding: 10px 30px;
  }

  .hero .swiper-pagination-bullet {
    width: 26px;
    height: 6px;
  }
}

@media screen and (max-width: 575px) {
  .hero .hero_content p {
    max-width: 100%;
    display: block;
    text-align: center;
    margin: 20px 0px !important;
  }

  .hero .hero_content .explore_btn {
    margin-top: 20px;
  }
}

/* Hero End */

/* Our Products Start */
#our_product {
  font-family: var(--primary-font);
  margin-top: 70px;
}

#our_product .heading {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 60px;
}

#our_product .heading h2 {
  margin-bottom: 20px;
  font-size: 48px;
  color: var(--secondary-color);
  font-weight: bold;
}

#our_product .heading p {
  max-width: 700px;
  margin: 0px;
  font-size: 16px;
  color: var(--accent-1);
  font-weight: 500;
  font-family: var(--secondary-font);
}

#our_product .product-carousel .item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid var(--border-color3);
  transition: 0.4s;
  padding: 20px;
  border-radius: 16px;
  overflow: hidden;
}

#our_product .product-carousel .item:hover {
  background: var(--accent-4);
}

#our_product .product-carousel .item:hover .product_image img {
  transform: scale(1.1);
}

#our_product .product_image_wrapper {
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: transparent;
}

#our_product .product_image_wrapper .product_image {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
  aspect-ratio: 16 / 14;
}

#our_product .product_image_wrapper .product_image img {
  width: 90%;
  height: 90%;
  display: block;
  margin: auto;
  background-size: cover;
  transition: 0.3s;
  border-radius: 16px;
  background-position: center;
  object-fit: cover;
}

#our_product .product_details {
  text-align: center;
}

#our_product .product_details p {
  font-size: 16px;
  color: var(--accent-1);
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
  font-family: var(--secondary-font);
}

#our_product .product_heading {
  font-size: 28px;
  color: var(--secondary-color);
  text-align: center;
  font-weight: 600;
  margin: 30px 0;
}

.view_product_btn span {
  display: inline-block;
  position: relative;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  transition: color 0.3s ease;
}

.view_product_btn span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease, background-color 0.3s ease;
}

.view_product_btn span:hover {
  color: var(--primary-color);
}

.view_product_btn span:hover::after {
  width: 100%;
  background-color: var(--primary-color);
}

#our_product .heading .view_more_btn {
  font-family: var(--secondary-font);
  position: relative;
  display: inline-block;
  background: var(--primary-color);
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  padding: 14.5px 46px;
  overflow: hidden;
  z-index: 0;
  transition: color 0.5s;
}

#our_product .heading .view_more_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  transition: left 0.5s;
  z-index: -1;
}

#our_product .heading .view_more_btn:hover::before {
  left: 0;
}

#our_product .heading .view_more_btn:hover {
  color: var(--white);
}

#our_product .blog-carousel .owl-dots {
  display: none !important;
}

#our_product .owl-nav {
  display: none;
}

#our_product .custom-nav {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#our_product .custom-nav i {
  font-size: 26px;
  font-weight: 800;
}

#our_product .custom-nav .prev_btn,
#our_product .custom-nav .next_btn {
  background: var(--accent-3);
  width: 40px;
  height: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 10px;
  transition: 0.4s;
}

#our_product .custom-nav .bar {
  background: var(--primary-color);
  width: 40px;
  height: 10px;
  border-radius: 4px;
}

#our_product .custom-nav .bar_1 {
  background: var(--primary-color);
  width: 40px;
  height: 10px;
  border-radius: 4px;
}

#our_product .custom-nav .prev_btn:hover,
#our_product .custom-nav .next_btn:hover {
  background: var(--primary-color);
  color: var(--white);
}

@media screen and (max-width: 992px) {
  #our_product .product_image_wrapper .product_heading {
    font-size: 24px;
  }

  #our_product .heading {
    display: block;
  }

  #our_product .heading h2 {
    font-size: 34px;
  }

  #our_product .heading .view_more_btn {
    font-size: 16px;
    padding: 10px 30px;
  }

  #our_product .heading .view_more_btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  #our_product .product_image_wrapper p {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 56px !important;
    line-height: 18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #our_product .product_image_wrapper .product_heading {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 60px !important;
    line-height: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 600px) {
  #our_product .product_details p {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 36px !important;
    line-height: 18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #our_product .product_heading {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 34px !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Our Products End */

/* About Us Start */

.about_section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  margin-top: 70px;
  background: var(--white);
}

.about_item1,
.about_item2 {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 12;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 16px;
}

.about_item2 img,
.about_item1 img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.about_gallery .about_gallery_item:nth-child(1) {
  margin-bottom: -100px;
}

.about_gallery .about_item1 span {
  position: absolute;
  width: 34px;
  height: 34px;
  background: transparent;
  bottom: 15px;
  left: 0px;
  border-radius: 20px;
  box-shadow: -14px 14px var(--white);
  z-index: 20;
  z-index: 9;
}

.about_gallery .about_gallery_item:nth-child(1) img {
  z-index: 9;
  border-right: 15px solid var(--white);
  border-bottom: 15px solid var(--white);
}

.about_gallery .about_item1::after {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: transparent;
  bottom: 15px;
  right: 14.5px;
  box-shadow: 14px 14px var(--white);
  z-index: 20;
}

.about_gallery .about_item1::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: transparent;
  top: 0px;
  right: 14.5px;
  box-shadow: 14px -14px var(--white);
  z-index: 20;
}

.about_gallery .about_item2::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: transparent;
  top: 0px;
  right: 47.5%;
  box-shadow: -10px -10px var(--white);
  z-index: 20;
}

.about_gallery .about_item2::after {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: transparent;
  top: 100px;
  left: 0px;
  box-shadow: -14px -14px var(--white);
  z-index: 20;
}

.about_gallery .shape {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_gallery .shape svg {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
}

.animate-stroke {
  animation: colorChange 2s forwards;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes colorChange {
  0% {
    stroke: #ffddd1;
  }

  100% {
    stroke: var(--primary-color);
    /* New color to transition to */
  }
}

.about_gallery .counter_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_gallery_item .counter_wrapper .counter {
  margin-top: 80px;
  z-index: 1;
  text-align: center;
}

.about_gallery_item .counter_wrapper .counter h2 {
  font-size: 60px;
  color: var(--primary-color);
  font-weight: bold;
  margin: 0;
  padding-top: 20px;
}

.about_gallery_item .counter_wrapper .counter p {
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 600;
}

.about_gallery_item .counter_wrapper svg {
  position: absolute;
  top: 35%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 150px;
  transform-origin: center;
}

.counter_shape {
  animation: blimp 3s ease-in-out infinite;
  transform-origin: center;
}

@keyframes blimp {
  0%,
  100% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(0.9);
  }
}

.about_us_text {
  flex: 1;
  padding: 0px 20px;
}

.about_us_text h2 {
  font-family: var(--primary-font);
  font-size: 48px;
  margin-bottom: 30px;
  color: var(--secondary-color);
  font-weight: bold;
}

.about_us_text .brick_land_text {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--accent-1);
  margin-bottom: 30px;
  font-weight: 500;
}

.about_us_text p {
  font-family: var(--secondary-font);
  font-size: 16px;
  color: var(--accent-1);
  margin-bottom: 30px;
  font-weight: 500;
}

.about_us_text p span {
  font-size: 28px;
  color: var(--primary-color);
  font-weight: 600;
  font-family: var(--secondary-font);
}

.about_us_text h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-weight: 600;
}

.about_us_text .about_us_btn {
  font-family: var(--secondary-font);
  display: inline-block;
  background: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 14.5px 46px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.5s;
  position: relative;
  overflow: hidden;
}

.about_us_text .about_us_btn span {
  font-family: var(--secondary-font);
  z-index: 999;
}

.about_us_text .about_us_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  transition: transform 0.5s ease;
  z-index: 0;
}

.about_us_text .about_us_btn:hover::before {
  transform: translateX(100%);
}

.about_us_text .about_us_btn:hover {
  color: var(--white) !important;
}

.about_us_text .about_us_btn span {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1400px) {
  .about_item1,
  .about_item2 {
    aspect-ratio: 16 / 14;
  }
}

@media screen and (max-width: 1200px) {
  .about_item1,
  .about_item2 {
    aspect-ratio: 16 / 16;
  }
}

@media screen and (max-width: 1300px) {
  .about_gallery_item .counter_wrapper .counter h2 {
    font-size: 44px;
  }

  .about_gallery_item .counter_wrapper svg {
    left: 0%;
  }
}

@media screen and (max-width: 992px) {
  .about_gallery_item .counter_wrapper svg {
    left: 10%;
  }

  .about_us_text {
    padding: 0;
    margin-top: 70px;
  }

  .about_us_text p {
    margin-bottom: 20px;
  }

  .about_us_text h2 {
    font-size: 34px;
    margin-bottom: 20px;
  }

  .about_us_text .about_us_btn {
    font-size: 16px;
    padding: 10px 30px;
  }

  .about_us_text .about_us_btn {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .about_gallery .shape svg {
    top: 20%;
    width: 100px;
  }

  .about_gallery_item .counter_wrapper .counter h2 {
    font-size: 26px;
  }

  .about_gallery_item .counter_wrapper .counter p {
    font-size: 14px;
    text-wrap: wrap;
  }

  .about_gallery_item .counter_wrapper svg {
    left: 0%;
  }
}

@media screen and (max-width: 576px) {
  .about_gallery .shape svg {
    top: 20%;
    left: 40%;
    width: 80px;
  }

  .about_gallery_item .counter_wrapper .counter h2 {
    font-size: 26px;
    padding-top: 20px;
  }

  .about_gallery_item .counter_wrapper .counter p {
    font-size: 14px;
    text-wrap: wrap;
    margin: 0px;
  }

  .about_gallery_item .counter_wrapper svg {
    left: 20%;
    width: 80px;
  }
}

@media screen and (max-width: 470px) {
  .masonry_item2,
  .masonry_item1 {
    aspect-ratio: 16 / 16;
  }

  .about_gallery_item .counter {
    margin-top: 100px !important;
  }

  .about_gallery_item .counter_wrapper .counter h2 {
    font-size: 26px;
    padding-top: 0px;
  }

  .about_gallery_item .counter_wrapper svg {
    left: 10%;
    top: 30%;
    width: 80px;
  }
}

/* About Us End */

/* Product Overview Start */

#product_overview {
  margin-top: 70px;
  background: var(--accent-4);
  font-family: var(--primary-font);
  text-align: center;
  padding: 70px 0;
}

#product_overview .product_details {
  width: 100%;
}

#product_overview .product_details img {
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

#product_overview .heading {
  margin-bottom: 60px;
}

#product_overview .heading h2 {
  font-size: 48px;
  color: var(--secondary-color);
  font-weight: bold;
  margin-bottom: 20px;
}

#product_overview .heading p {
  max-width: 580px;
  font-size: 16px;
  margin: auto;
  color: var(--accent-1);
  font-weight: 500;
  font-family: var(--secondary-font);
}

@media screen and (max-width: 992px) {
  #product_overview .heading h2 {
    font-size: 34px;
    margin-bottom: 20px;
  }
}

/* Product Overview End */

/* Craftsmanship Section Start */

#craftsmanship_section {
  font-family: var(--primary-font);
  margin-top: 70px;
}

#craftsmanship_section .heading {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 60px;
}

#craftsmanship_section .heading h2 {
  max-width: 600px;
  margin-bottom: 20px;
  font-size: 48px;
  color: var(--secondary-color);
  font-weight: bold;
  font-family: var(--primary-font);
}

#craftsmanship_section .blog-carousel .craftsmanship_item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid var(--border-color3);
  transition: 0.5s;
  overflow: hidden;
}

#craftsmanship_section .craftsmanship-carousel-container {
  max-width: 100%;
  margin: 0 auto;
}

#craftsmanship_section .craftsmanship_box_wrapper {
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: transparent;
}

#craftsmanship_section .customer_details {
  padding: 10px;
}

.craftsmanship_latest_image {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
  aspect-ratio: 13 / 16;
}

.craftsmanship_latest_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.craftsmanship_latest_image:hover img {
  transform: scale(1.2) rotate(3deg);
}

.craftsmanship_img_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: white;
  text-align: left !important;
}

.craftsmanship_img_title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--white);
}

.craftsmanship_img_description {
  font-family: var(--secondary-font);
  font-size: 16px;
  color: var(--white);
}

.craftsmanship_img_link {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 18px;
  font-family: var(--secondary-font);
}

.craftsmanship_img_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #f1f1f1;
  transition: width 0.3s ease;
}

.craftsmanship_img_link:hover::after {
  width: 100%;
}

#craftsmanship_section .craftsmanship_box_wrapper .box_details_heading {
  font-size: 28px;
  color: var(--secondary-color);
  font-weight: 600;
  margin: 0px;
}

#craftsmanship_section .craftsmanship_description p {
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--accent-1);
  font-weight: 500;
  margin: 20px 0;
}

#craftsmanship_section .view_more_btn {
  font-family: var(--secondary-font);
  display: inline-block;
  background: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 14.5px 46px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.5s;
  position: relative;
  overflow: hidden;
}

#craftsmanship_section .view_more_btn span {
  font-family: var(--secondary-font);
  z-index: 999;
}

#craftsmanship_section .view_more_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  transition: transform 0.5s ease;
  z-index: 0;
}

#craftsmanship_section .view_more_btn:hover::before {
  transform: translateX(100%);
}

#craftsmanship_section .view_more_btn:hover {
  color: var(--white) !important;
}

#craftsmanship_section .view_more_btn span {
  position: relative;
  z-index: 1;
}

#craftsmanship_section .craftsmanship-carousel .owl-dots {
  display: none !important;
}

#craftsmanship_section .owl-nav {
  display: none;
}

#craftsmanship_section .custom-nav {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#craftsmanship_section .custom-nav i {
  font-size: 26px;
  font-weight: 800;
}

#craftsmanship_section .custom-nav .prev_btn,
#craftsmanship_section .custom-nav .next_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 20px;
  margin: 0 10px;
  transition: 0.4s;
}

#craftsmanship_section .custom-nav .prev_btn:hover,
#craftsmanship_section .custom-nav .next_btn:hover {
  background: var(--primary-color);
  color: var(--white);
}

.craftsmanship_shafe img {
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 992px) {
  #craftsmanship_section .craftsmanship_box_wrapper .box_details_heading {
    font-size: 24px;
  }

  #craftsmanship_section .heading {
    margin-bottom: 0px;
  }

  #craftsmanship_section .craftsmanship_description p {
    margin-top: 0px;
  }

  #craftsmanship_section .craftsmanship_description {
    margin-bottom: 60px;
  }

  #craftsmanship_section .heading h2 {
    font-size: 34px;
  }

  #craftsmanship_section .view_more_btn {
    font-size: 16px;
    padding: 10px 30px;
  }

  #craftsmanship_section .heading .view_more_btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  #craftsmanship_section .craftsmanship_img_description {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 68px;
    line-height: 22px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 667px) {
  #craftsmanship_section .craftsmanship_img_description {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 48px;
    line-height: 22px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Craftsmanship Section End */

/* Our Gallery Start */

#gallery_wrapper {
  margin-top: 70px;
  font-family: var(--primary-font);
  text-align: center;
}

#gallery_wrapper .heading {
  text-align: center;
  margin-bottom: 60px;
}

#gallery_wrapper .heading h2 {
  font-size: 48px;
  color: var(--secondary-color);
  font-weight: bold;
  margin-bottom: 20px;
  font-family: var(--primary-font);
}

#gallery_wrapper .heading p {
  max-width: 830px;
  margin: 0px auto;
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--accent-1);
  font-weight: 500;
}

.gallery_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gallery_grid:nth-child(1) {
  margin-bottom: 20px;
}

.gallery_item {
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.gallery_item:hover img {
  transform: scale(1.1);
  filter: brightness(50%);
}

.gallery_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

/* Large Screen Layout */
.gallery_item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 12;
}

.gallery_item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 6;
}

.gallery_item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 12;
}

.gallery_item:nth-child(4) {
  grid-column: 4 / 6;
  grid-row: 1 / 6;
}

.gallery_item:nth-child(5) {
  grid-column: 1 / 2;
  grid-row: 12 / 20;
}

.gallery_item:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 6 / 20;
}

.gallery_item:nth-child(7) {
  grid-column: 3 / 4;
  grid-row: 12 / 20;
}

.gallery_item:nth-child(8) {
  grid-column: 4 / 6;
  grid-row: 6 / 20;
}

/* Style for fullscreen icon */
.gallery-fullscreen-icon {
  position: absolute;
  text-align: center;
  width: 100px;
  height: auto;
  line-height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: var(--secondary-color);
  background-color: var(--white);
  padding: 8px;
  border-radius: 12px;
  display: none;
  transition: 0.3s;
  cursor: pointer;
}

.gallery-fullscreen-icon:hover {
  background: var(--primary-color);
  color: var(--white);
}

.gallery-fullscreen-icon svg path {
  transition: 0.3s;
}

.gallery-fullscreen-icon:hover svg path {
  fill: var(--white);
}

.gallery-fullscreen-icon svg {
  width: 40px;
  height: 40px;
}

.gallery-fullscreen-icon span {
  font-size: 16px;
  font-weight: 600;
}

.gallery_item {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.gallery_item:hover .gallery-fullscreen-icon {
  display: block;
}

.view_gallery_btn {
  font-family: var(--secondary-font);
  display: inline-block;
  background: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 14.5px 46px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.5s;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.view_gallery_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--secondary-color);
  transition: width 0.4s ease;
  z-index: 0;
}

.view_gallery_btn:hover::before {
  width: 100%;
}

.view_gallery_btn span {
  font-family: var(--secondary-font);
  position: relative;
  z-index: 1;
  transition: color 0.4s ease;
}

.view_gallery_btn:hover span {
  color: var(--white);
}

/* Unique Modal Styles for Gallery */
.gallery-modal {
  display: none;
  position: fixed;
  z-index: 500;
  padding-top: 40px;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal_wrapper_item {
  width: 100%;
  max-width: 900px;
  margin: auto;
  border-radius: 24px;
  overflow: hidden;
  display: block;
  position: relative;
}

.modal_wrapper_item img {
  border-radius: 24px;
}

.gallery-modal-content {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
  max-width: 900px;
}

.gallery-modal-content {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.gallery-modal-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.gallery-close {
  position: absolute;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 14px;
  right: 14px;
  font-size: 40px;
  color: var(--white);
  background: var(--secondary-color);
  border-radius: 8px;
  z-index: 2;
  cursor: pointer;
}

/* Style for the left and right navigation buttons */
.modal_prev_next_wrapper {
  position: absolute;
  width: 100%;
  top: 45%;
  display: flex;
  justify-content: space-between;
}

.modal_prev_next_wrapper i {
  font-size: 26px;
}

.gallery-prev,
.gallery-next {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: var(--white);
  background: var(--primary-color);
  border-radius: 12px;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.4s;
}

.gallery-prev {
  left: 20px;
}

.gallery-next {
  right: 20px;
}

.gallery-prev:hover,
.gallery-next:hover {
  background: var(--white);
  color: var(--primary-color);
}

/* Thumbnail slider container */
.gallery-thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.thumbnail-prev,
.thumbnail-next {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 30px;
  background: transparent;
  user-select: none;
  transition: 0.4s;
  -webkit-user-select: none;
  border-radius: 8px;
  border: 1px solid var(--white);
}

/* Thumbnail navigation buttons */
.thumbnail_btn1,
.thumbnail_btn2 {
  height: 90px;
  display: flex;
  align-items: center;
  background: var(--secondary-color);
}

.thumbnail_btn1 {
  padding: 0px 0px 0px 10px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.thumbnail_btn2 {
  padding: 0px 10px 0px 0px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.thumbnail-prev:hover,
.thumbnail-next:hover {
  background: var(--white);
  color: var(--secondary-color);
}

/* Disabled button styling */
.thumbnail-prev.disabled,
.thumbnail-next.disabled {
  /* opacity: 0.3; */
  pointer-events: none;
}

/* Updated thumbnail */
.gallery_thumbnails {
  display: flex;
  overflow-x: hidden;
  width: calc(100px * 8);
  padding: 6px 10px;
  background: var(--secondary-color);
  scroll-behavior: smooth;
}

.gallery_thumbnails img {
  flex: 0 0 95px;
  margin: 0 1.5px;
  height: 78px;
  object-fit: cover;
  background-size: cover;
  cursor: pointer;
  border-radius: 8px;
  border: 4px solid transparent;
}

.gallery_thumbnails img.active {
  border: 4px solid var(--white);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .gallery_thumbnails img {
    flex: 0 0 68px;
    margin: 0 1.5px;
    height: 60px;
  }

  .thumbnail_btn1,
  .thumbnail_btn2 {
    height: 72px !important;
  }
}

@media (max-width: 992px) {
  #gallery-wrapper {
    margin-top: 70px;
  }

  #gallery-wrapper .heading h2 {
    font-size: 34px;
  }

  .view_gallery_btn {
    padding: 10px 30px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .gallery-modal {
    padding-top: 220px;
  }

  .gallery_thumbnails img {
    width: 61px;
  }

  .gallery_grid {
    gap: 10px;
  }

  .gallery_grid:nth-child(1) {
    margin-bottom: 10px;
  }

  .gallery_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery_item:nth-child(1),
  .gallery_item:nth-child(3),
  .gallery_item:nth-child(5),
  .gallery_item:nth-child(7) {
    grid-column: 1 / 2;
  }

  .gallery_item:nth-child(2),
  .gallery_item:nth-child(4),
  .gallery_item:nth-child(6),
  .gallery_item:nth-child(8) {
    grid-column: 2 / 3;
  }

  .gallery_item:nth-child(1),
  .gallery_item:nth-child(3),
  .gallery_item:nth-child(5),
  .gallery_item:nth-child(7) {
    grid-row: auto;
  }

  .gallery_item:nth-child(2),
  .gallery_item:nth-child(4),
  .gallery_item:nth-child(6),
  .gallery_item:nth-child(8) {
    grid-row: auto;
  }

  .modal_prev_next_wrapper {
    top: 40%;
  }

  .thumbnail-prev,
  .thumbnail-next {
    width: 34px;
    height: 34px;
    font-size: 20px;
  }

  .gallery-prev,
  .gallery-next {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: none;
  }

  .modal_prev_next_wrapper i {
    font-size: 20px;
  }

  .gallery-fullscreen-icon {
    width: 80px;
    height: auto;
  }

  .gallery-fullscreen-icon span {
    font-size: 14px;
  }

  .gallery-fullscreen-icon svg {
    width: 30px;
    height: 30px;
  }
}

/* Our Gallery End */

/* Our Customer Start */
#our_customer {
  font-family: var(--primary-font);
  margin-top: 70px;
}

#our_customer .heading {
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}

#our_customer .heading h2 {
  margin-bottom: 20px;
  font-size: 48px;
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-weight: bold;
}

#our_customer .heading p {
  max-width: 900px;
  margin: auto;
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--accent-1);
  font-weight: 500;
}

#our_customer .blog-carousel .item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid var(--border-color3);
  transition: 0.5s;
  overflow: hidden;
}

#our_customer .carousel-container {
  max-width: 90%;
  margin: 0 auto;
}

#our_customer .customer-carousel .item {
  margin-left: 50px;
}

#our_customer .customer_box {
  width: 100%;
  overflow: hidden;
  background: transparent;
}

#our_customer .blog_box_details {
  padding: 10px;
}

#our_customer .customer_box .customer_profile {
  position: relative;
  width: 90%;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 16 / 14;
}

#our_customer .customer_box .customer_profile img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

#our_customer .customer_details i {
  font-size: 20px;
  color: #ed8220;
}

#our_customer .customer_details .review_star {
  display: flex;
  gap: 10px;
}

#our_customer .profile_name h3 {
  font-size: 22px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-bottom: 5px;
}

#our_customer .profile_name span {
  font-size: 16px;
  color: var(--accent-2);
  font-family: var(--secondary-font);
  font-weight: 400;
}

#our_customer .customer_box p {
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--accent-1);
  font-weight: 500;
  margin: 20px 0;
}

#our_customer .customer_box .calender_wrapper {
  display: flex;
  align-items: center;
}

#our_customer .customer_box .calender_wrapper .calender {
  gap: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  border-radius: 8px;
  background: var(--white);
  font-weight: 500;
}

#our_customer .customer_box .calender_wrapper svg {
  width: 20px;
  height: 20px;
}

#our_customer .owl-dots {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 40px !important;
}

#our_customer .owl-dots .owl-dot {
  display: inline-block;
  background: var(--accent-3) !important;
  margin: 0 5px;
  border-radius: 4px !important;
  cursor: pointer;
}

#our_customer .owl-theme .owl-dot span {
  width: 40px !important;
  height: 10px !important;
  margin: 0px !important;
  background: var(--accent-3) !important;
}

#our_customer .owl-theme .active-dot span {
  background: var(--primary-color) !important;
}

@media screen and (max-width: 992px) {
  #our_customer .heading h2 {
    font-size: 34px;
  }

  #our_customer .owl-theme .owl-dot span {
    width: 26px !important;
    height: 6px !important;
  }

  #our_customer .customer-carousel .item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  #our_customer .customer_box p {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 56px !important;
    line-height: 18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #our_customer .carousel-container {
    margin: 0px 0px;
  }
}

@media screen and (max-width: 768px) {
  #our_customer .customer_box .customer_profile {
    width: 100%;
    aspect-ratio: 16 / 16;
  }

  #our_customer .customer-carousel .item {
    margin-left: 0px;
  }
}

/* Our Customer End */

/* Our Blog Start */
#our_blog {
  font-family: var(--primary-font);
  margin-top: 70px;
  background: var(--accent-4);
  padding: 70px 0;
}

#our_blog .heading {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 60px;
}

#our_blog .heading h2 {
  margin-bottom: 20px;
  font-size: 48px;
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-weight: bold;
}

#our_blog .heading p {
  max-width: 700px;
  margin: 0px;
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--accent-1);
  font-weight: 500;
}

#our_blog .blog-carousel .item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid var(--border-color3);
  transition: 0.5s;
  overflow: hidden;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

#videoModal .modal-content {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

#videoModal .close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: -12%;
  right: 0%;
  border: 1px solid white;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-content .video_frame {
  width: 100%;
  height: 100%;
  border: none;
}

#our_blog .item-active img {
  filter: brightness(50%);
}

#our_blog .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  background-size: contain;
  cursor: pointer;
}

#our_blog .play-icon svg {
  width: 70px;
  height: 70px;
}

#our_blog .play-icon svg path {
  fill: var(--white) !important;
}

#our_blog .play-icon svg circle {
  stroke: transparent !important;
}

#our_blog .carousel-container {
  max-width: 100%;
  margin: 0 auto;
}

#our_blog .blog_box_wrapper {
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: transparent;
}

#our_blog .customer_details {
  padding: 10px;
}

#our_blog .blog_box_wrapper .latest_image {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
  aspect-ratio: 16 / 13;
}

#our_blog .blog_box_wrapper .latest_image:hover img {
  transform: scale(1.1);
}

#our_blog .blog_box_wrapper .latest_image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: 0.3s;
  background-position: center;
  object-fit: cover;
}

#our_blog .blog_box_wrapper .box_details_heading {
  font-size: 28px;
  color: var(--secondary-color);
  font-weight: 600;
  margin: 0px;
}

#our_blog .blog_box_wrapper p {
  font-size: 16px;
  color: var(--accent-1);
  font-weight: 500;
  margin: 20px 0;
}

#our_blog .blog_box_wrapper .calender_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 15px 0px;
}

#our_blog .blog_box_wrapper .calender_wrapper .calender {
  gap: 5px;
  font-size: 16px;
  margin: auto;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  border-radius: 8px;
  padding: 8px 10px;
  background: var(--white);
  font-weight: 500;
}

#our_blog .blog_box_wrapper .calender_wrapper svg {
  width: 20px;
  height: 20px;
}

#our_blog .view_more_btn {
  font-family: var(--secondary-font);
  display: inline-block;
  background: var(--secondary-color);
  color: var(--white);
  border: none;
  padding: 14.5px 46px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.5s;
  position: relative;
  overflow: hidden;
}

#our_blog .view_more_btn span {
  font-family: var(--secondary-font);
  z-index: 999;
}

#our_blog .view_more_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  transition: transform 0.5s ease;
  z-index: 0;
}

#our_blog .view_more_btn:hover::before {
  transform: translateX(100%);
}

#our_blog .view_more_btn:hover {
  color: var(--white) !important;
}

#our_blog .view_more_btn span {
  position: relative;
  z-index: 1;
}

.read_more_btn {
  font-family: var(--secondary-font);
  position: relative;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 18px;
  font-weight: 500;
}

.read_more_btn span {
  font-family: var(--secondary-font);
}

.read_more_btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.read_more_btn:hover {
  color: var(--primary-color);
}

.read_more_btn:hover::after {
  width: 100%;
  background-color: var(--primary-color);
}

#our_blog .blog-carousel .owl-dots {
  display: none !important;
}

#our_blog .owl-nav {
  display: none;
}

#our_blog .custom_nav {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#our_blog .custom_nav i {
  font-size: 26px;
  font-weight: 800;
}

/* .fa-arrow-left-long:before,
.fa-long-arrow-left:before {
  content: "\2039" !important;
}

.fa-arrow-right-long:before,
.fa-long-arrow-right:before {
  content: "\f105" !important;
} */

#our_blog .custom_nav .prev_btn,
#our_blog .custom_nav .next_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 20px;
  margin: 0 10px;
  transition: 0.4s;
}

#our_blog .custom_nav .prev_btn:hover,
#our_blog .custom_nav .next_btn:hover {
  background: var(--primary-color);
  color: var(--white);
}

.blog_shape img {
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 1285.6px) {
  #our_blog .blog_box_wrapper p {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 56px !important;
    line-height: 18px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #our_blog .blog_box_wrapper .box_details_heading {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 60px !important;
    line-height: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 992px) {
  #our_blog .blog_box_wrapper p {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 56px !important;
    line-height: 18px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #our_blog .blog_box_wrapper .box_details_heading {
    font-size: 24px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 60px !important;
    line-height: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #our_blog .heading {
    display: block;
  }

  #our_blog .heading h2 {
    font-size: 34px;
  }

  #our_blog .heading .view_more_btn {
    font-size: 16px;
    padding: 10px 30px;
  }

  #our_blog .heading .view_more_btn {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  #our_blog .blog_box_wrapper p {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 56px !important;
    line-height: 18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #our_blog .blog_box_wrapper .box_details_heading {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 60px !important;
    line-height: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Our Blog End */

/* Frequently & Questions Start */

#frequently_questions {
  margin-top: 70px;
  font-family: var(--primary-font);
}

#frequently_questions .heading {
  text-align: center;
  margin-bottom: 60px;
}

#frequently_questions .heading h2 {
  margin-bottom: 20px;
  font-size: 48px;
  color: var(--secondary-color);
  font-weight: bold;
}

#frequently_questions .heading p {
  max-width: 850px;
  font-size: 16px;
  color: var(--accent-1);
  font-weight: 500;
  margin: auto;
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown {
  cursor: pointer;
  border: 1px solid var(--accent-5);
  border-radius: 10px;
  width: 100%;
  background: var(--background-color);
}

.dropdown_title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  color: var(--secondary-color);
}

.dropdown_content p {
  color: var(--accent-1);
  margin-bottom: 0px;
}

.dropdown_content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
  padding-left: 56px;
}

.dropdown.active .dropdown_content {
  max-height: 100%;
  overflow: hidden;
  padding: 14px 14px 14px 56px;
  background: var(--accent-5);
  color: var(--secondary-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown.active .dropdown_title {
  color: var(--secondary-color);
  background: var(--accent-5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.icon {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: 0.5s;
  margin: 6px 10px 0px 10px;
}

.dropdown.active .icon {
  transform: rotate(180deg);
  color: var(--primary-color);
  margin: 6px 10px 12px 10px;
}

@media screen and (max-width: 972px) {
  #frequently_questions .heading h2 {
    text-align: left;
    display: block;
  }

  #frequently_questions .heading p {
    text-align: left;
  }

  .dropdown_title {
    font-size: 20px;
  }
}

/* Frequently & Questions End */

/* Our Client Start */
.our_client {
  margin-top: 70px;
  font-family: var(--primary-font);
}

.our_client .heading {
  text-align: center;
  margin-bottom: 60px;
}

.our_client .heading h2 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: bold;
  color: var(--secondary-color);
}

.our_client .heading p {
  max-width: 620px;
  font-size: 16px;
  font-weight: 500;
  color: var(--accent-1);
  margin: auto;
}

.our_client .client-carousel .item {
  width: 100%;
  aspect-ratio: 16 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border: 1px solid transparent;
  border-radius: 6px !important;
  overflow: hidden;
  padding: 20px 40px;
  transition: 0.5s;
}

.our_client .client-carousel img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: contain;
  border-radius: 6px !important;
  transition: 0.4s;
}

.our_client .carousel-container {
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid var(--accent-3);
  border-radius: 16px;
  overflow: hidden;
}

.our_client .client-carousel .owl-dots,
.our_client .client-carousel .owl-nav {
  display: none !important;
}

@media screen and (max-width: 992px) {
  .our_client .heading h2 {
    font-size: 34px;
  }

  .our_client .client-carousel .item {
    padding: 20px 20px;
  }
}

/* Our Client End */
