@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */
:root {
  --primary-font: "Outfit";
  --secondary-font: "Roboto";
  --primary-color: #bf390b;
  --secondary-color: #111111;
  --gradient: linear-gradient(180deg,
      rgba(170, 170, 170, 0.1) 0%,
      #cfcfcf 100%);
  --accent-1: #595959;
  --accent-2: #a0a0a0;
  --accent-3: #cdcdcd;
  --accent-4: #ffddd1;
  --accent-5: #ebebeb;
  --white: #ffffff;
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

body {
  background: var(--white);
}

/*====================
  Reset Default CSS End
  ====================*/

/* Topbar Srart */

#topbar {
  background: var(--secondary-color);
  font-family: var(--primary-font);
  padding: 10px 0;
}

.topbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar_wrapper .location,
.topbar_wrapper .social_wrapper,
.topbar_wrapper .social_wrapper .time,
.topbar_wrapper .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar_wrapper .social_wrapper p,
.topbar_wrapper .location p,
.topbar_wrapper .contact p {
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--accent-2);
  font-weight: 400;
  transition: 0.3s;
}

.topbar_wrapper .contact p:hover {
  color: var(--accent-1);
}

.social_wrapper p:hover {
  color: var(--accent-1);
}

.topbar_wrapper .contact a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar_wrapper .social_wrapper span,
.topbar_wrapper .contact span {
  color: var(--accent-2);
  margin: 0px 10px;
}

.topbar_wrapper .contact i {
  color: var(--primary-color);
  font-size: 22px;
  margin-right: 5px;
}

.topbar_wrapper .social_wrapper i {
  color: var(--primary-color);
  font-size: 22px;
}

.topbar_wrapper .social_wrapper .social {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.topbar_wrapper .social_wrapper .social i {
  color: var(--white);
  font-size: 20px;
  line-height: 25px;
  transition: 0.4s;
}

.topbar_wrapper .social_wrapper .social a {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border-radius: 50%;
  background: var(--primary-color);
  transition: 0.4s;
}

.topbar_wrapper .social_wrapper .social a:hover {
  background: var(--white);
}

.topbar_wrapper .social_wrapper .social a:hover i {
  color: var(--secondary-color);
}

.topbar_wrapper .social_wrapper .time i {
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  #topbar {
    display: none;
  }
}

/* Top bar End */

/* Navbar Start */

#header a,
#header button {
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  box-shadow: none;
}

#header .brand {
  font-family: inherit;
  font-size: 25.6px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--color-pink-500);
}

#header {
  position: sticky;
  background: var(--white);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 100;
}

#header .navbar {
  padding: 30px 0px;
}

#header .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  padding: 10px 0px;
}

#header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  row-gap: 32px;
  width: 100%;
  margin: 0 auto;
}

#header .wrapper .logo img {
  width: 150px;
}

#header .contact_us_btn_1 {
  display: none;
}

#header .contact_us_btn_1 {
  font-family: var(--secondary-font);
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: 400;
  padding: 14.5px 46px;
  border-radius: 8px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  transition: color 0.5s;
  border: none;
}

#header .contact_us_btn {
  font-family: var(--secondary-font);
  display: inline-block;
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: 400;
  padding: 14.5px 46px;
  border-radius: 8px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  transition: color 0.5s;
  border: none;
}

#header .contact_us_btn_1 span,
#header .contact_us_btn span {
  font-family: var(--secondary-font);
  z-index: 999;
  color: var(--white);
}

#header .contact_us_btn_1::before,
#header .contact_us_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border: none;
  background: var(--secondary-color);
  transition: transform 0.5s ease;
  z-index: 0;
}

#header .contact_us_btn_1:hover::before,
#header .contact_us_btn:hover::before {
  transform: translateX(100%);
}

#header .contact_us_btn_1:hover,
#header .contact_us_btn:hover {
  color: var(--secondary-color);
}

#header .contact_us_btn_1 span,
#header .contact_us_btn span {
  position: relative;
  z-index: 1;
}

#header .menu-item {
  position: relative;
  display: inline-block;
  margin-left: 24px;
}

#header .discover_link {
  column-gap: 4px;
  font-family: inherit;
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 500;
  line-height: inherit;
  padding: 0;
}

#header .menu-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  font-family: inherit;
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 500;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--secondary-color);
  transition: all 0.4s ease-in-out;
}

#header .menu-item .active {
  position: relative;
  color: var(--primary-color);
}

#header .menu-item .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  transition: 0.4s;
}

#header .menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: var(--primary-color);
  transition: 0.4s;
}

#header .menu-link:hover::after {
  width: 100%;
}

#header .menu-item.active .menu-link::after {
  width: 100%;
}

#header .menu-link {
  transition: 0.4s;
}

#header .discover_link {
  transition: 0.4s;
}

#header .discover_link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  background: var(--primary-color);
  transition: 0.4s;
}

#header .discover_link .dropdown_icon {
  transition: 0.4s;
}

#header .discover_link:hover {
  color: var(--primary-color);
}

#header .menu-link>.dropdown_icon {
  font-size: 18px;
  color: var(--secondary-color);
  transition: 0.4s;
}

#header .menu-link:hover>.dropdown_icon {
  rotate: 180deg;
  color: var(--primary-color);
}

#header .menu-link:hover {
  outline: none;
  color: var(--primary-color);
}

@media only screen and (min-width: 992px) {
  #header .menu-dropdown:hover>.submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 3;
    transition: all 0.4s ease-in-out;
  }
}

@media only screen and (max-width: 992px) {
  #header .wrapper {
    padding: 10px 0;
  }

  #header .menu-link,
  #header .discover_link {
    margin-bottom: 10px;
  }

  #header .discover_link {
    display: block;
    margin-left: 20px;
  }

  #header .menu-dropdown.active {
    color: var(--primary-color) !important;
  }

  #header .menu {
    width: 100%;
    height: auto;
    padding: 16px 0;
  }

  #header .menu-item {
    display: block;
    margin: 0 auto;
  }

  #header .menu-link::after {
    display: none !important;
  }

  #header .menu-link span {
    position: relative;
  }

  #header .menu-link span::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--primary-color);
    transition: 0.4s;
  }

  #header .menu-link:hover span:after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--primary-color);
  }

  #header .menu-link {
    justify-content: space-between;
    padding: 8px 20px;
  }

  #header .menu-link {
    transition: color 0.4s ease;
  }

  #header .menu-link:hover {
    color: var(--primary-color) !important;
  }



  #header .submenu-link {
    display: block;
    color: var(--secondary-color);
    transition: color 0.4s ease;
  }
}

#header .submenu {
  position: absolute;
  top: 30px;
  left: 0;
  min-width: 208px;
  height: auto;
  padding-bottom: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(28px);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  color: var(--secondary-color);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

#header .submenu-item {
  display: block;
  margin: 5px 0px;
  transition: all 0.4s ease-in-out;
  color: var(--secondary-color);
  padding: 8px 10px;
}

#header .submenu-link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  color: var(--color-black-500);
}

#header .menu-item .submenu .active {
  color: var(--primary-color);
}

#header .menu-item .submenu .active::after {
  display: none;
}

#header .menu-item .submenu li:hover {
  background: var(--accent-4);
  color: var(--primary-color);
  border: none;
}

@media only screen and (max-width: 992px) {

  #header {
    position: relative;
    left: 0 !important;
    width: 100% !important;
    height: auto !important;
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 100;
  }

  #navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100vh;
    background-color: var(--white);
    z-index: 1000;
    transition: all 0.4s ease;
    display: block !important;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    padding: 20px;
  }

  #header.active #navbar {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  #header .overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 999;
  }

  #header #burger {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1000 !important;
    visibility: visible !important;
    opacity: 1 !important;
  }

  #header #burger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
  }

  .close-icon {
    display: flex !important;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    z-index: 1100 !important;
    visibility: visible !important;
  }

  .close-icon span {
    background-color: #333 !important;
  }

  #header .contact_us_btn {
    display: none;
  }

  #header .contact_us_btn_1 {
    margin: 30px 0px 10px 20px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 8px;
    background: var(--primary-color);
    transition: 0.5s;
    text-align: center;
  }

  #header .contact_us_btn_1:hover {
    background: var(--secondary-color);
  }

  #header .contact_us_btn_1 a {
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
  }
}

#header .burger {
  position: relative;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 25.6px;
  height: 18.4px;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}

#header .burger-line {
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  height: 2.1px;
  opacity: 1;
  border: none;
  outline: none;
  border-radius: 1rem;
  background: var(--secondary-color);
}

#header .burger-line:nth-child(1) {
  top: 0px;
}

#header .burger-line:nth-child(2) {
  top: 8px;
  width: 70%;
}

#header .burger-line:nth-child(3) {
  top: 16px;
}

/* Close Icon */
.close-icon {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 10;
}

.close-icon .close-line {
  position: absolute;
  background-color: #333;
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  transform-origin: center;
}

.close-icon .close-line:first-child {
  transform: rotate(45deg);
}

.close-icon .close-line:last-child {
  transform: rotate(-45deg);
}

#header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
}

/* Navbar End */

/* Footer Start */
#footer {
  margin-top: 70px;
  background: var(--secondary-color);
  font-family: var(--primary-font);
}

.footer_wrapper {
  border-bottom: 1px solid var(--accent-1);
  padding: 70px 0px;
  margin: 0px 12px;
}

.footer_wrapper i {
  font-size: 21px;
  margin-right: 10px;
  color: var(--primary-color);
}

.footer_wrapper .row {
  display: flex;
  justify-content: space-between !important;
}

.footer_logo {
  display: block;
  width: 200px;
}

.footer_logo img {
  width: 100%;
}

.footer_logo_text p {
  max-width: 320px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--accent-2);
}

.footer_content_heading h2 {
  font-size: 22px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 20px;
  display: inline-block;
}

.footer_content ul li {
  line-height: 35px;
}

.footer_content ul li a {
  flex-wrap: wrap;
  color: var(--accent-2);
  font-family: var(--secondary-font);
}

.footer_content_menu ul li {
  font-family: var(--secondary-font);
  position: relative;
}

.footer_content_menu ul li a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
  transition: color 0.4s;
  position: relative;
}

.footer_content_menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--primary-color);
  transition: width 0.4s ease;
}

.footer_content_menu ul li:hover a {
  color: var(--primary-color);
}

.footer_content_menu ul li:hover a::after {
  width: 100%;
}

.footer_content_menu ul li a {
  font-size: 18px;
  color: var(--accent-2);
  font-weight: 500;
  transition: 0.5s;
}

.footer_content_time .site_day_time {
  font-family: var(--secondary-font);
}

.footer_content_time .site_map {
  font-family: var(--primary-font);
}

.footer_wrapper_item .social_contact h3 {
  font-size: 18px;
  color: var(--white);
  font-weight: 600;
  margin-top: 30px;
  font-family: var(--secondary-font);
}

.footer_wrapper_item .social_icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer_wrapper_item .social_icon i {
  color: var(--white);
  margin: 0px;
  transition: 0.4s;
}

.footer_wrapper_item .social_icon a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  transition: 0.5s;
}

.footer_wrapper_item .social_icon a:hover {
  background: var(--white);
}

.footer_wrapper_item .social_icon a:hover i {
  color: var(--secondary-color);
}

.footer_wrapper_item .site_map {
  font-size: 22px;
  color: var(--white);
}

.footer_content_address a {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--accent-2);
  font-weight: 500;
  font-family: var(--secondary-font);
  transition: 0.5s;
}

.footer_content_address a .footer_contract_number {
  transition: 0.5s;
  font-family: var(--secondary-font);
}

.footer_content_address a .footer_contract_address {
  font-family: var(--secondary-font);
  transition: 0.5s;
}

.footer_content_address a .footer_contract_number:hover {
  color: var(--primary-color);
}

.footer_content_address a .footer_contract_address:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 1200px) {
  .footer_logo_text p {
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .footer_wrapper {
    padding: 40px 0;
  }

  .footer_wrapper_item .social_icon {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .footer_logo {
    width: 130px;
  }

  .footer_content_heading h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .footer_wrapper_item .social_icon {
    margin-bottom: 0px;
  }
}

/* Footer End */

/* Copy Right Start */
#copy_right {
  font-family: var(--primary-font);
  background: var(--secondary-color);
  border-top: 1px solid var(--border-color);
  padding: 20px 0;
}

.copy_right_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy_right_heading p {
  font-size: 16px;
  text-align: left;
  margin: 0px;
  font-weight: 500;
  color: var(--accent-2);
}

.copy_right_heading p span a {
  color: var(--primary-color);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .copy_right_heading {
    display: block;
  }

  .copy_right_heading p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
}

/* Copy Right End */