@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */
:root {
  --primary-font: "Outfit";
  --secondary-font: "Roboto";
  --primary-color: #bf390b;
  --secondary-color: #111111;
  --gradient: linear-gradient(
    180deg,
    rgba(170, 170, 170, 0.1) 0%,
    #cfcfcf 100%
  );
  --accent-1: #595959;
  --accent-2: #a0a0a0;
  --accent-3: #cdcdcd;
  --accent-4: #ffddd1;
  --accent-5: #ebebeb;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

body {
  background: var(--white);
}
/*====================
  Reset Default CSS End
  ====================*/

/* Key Feature Start */

.feature {
  margin-top: 70px;
}

.feature .icon_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.feature .icon_box:hover {
  background: var(--primary-color);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

.feature .icon_box:hover p {
  color: var(--white);
}

.feature .icon_box svg {
  width: 53px;
  height: 53px;
}

.feature .icon1:hover svg path {
  fill: var(--white);
}

.feature .icon_box:hover svg path {
  stroke: var(--white);
}

.feature .icon1 svg path,
.feature .icon_box svg path {
  transition: 0.3s;
}

.feature .icon_box i {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.feature .icon-text {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: var(--secondary-color);
  margin: 0;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .feature .icon-text {
    font-size: 16px;
  }

  .feature .icon_box svg {
    width: 45px;
    height: 45px;
  }

  .feature .icon_box {
    padding: 20px 10px;
  }
}

/* Key Feature End */

/* Products Start */

#products {
  margin-top: 46px !important;
}

#products .bricks_icon {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 60px;
}

#products .bricks_icon svg {
  width: 200px;
}

#products .item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid var(--border-color3);
  transition: 0.4s;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  overflow: hidden;
}

#products .item:hover {
  background: var(--accent-4);
}

#products .item:hover .product_image img {
  transform: scale(1.1);
}

#products .product_image_wrapper {
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: transparent;
}

#products .product_image {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
  aspect-ratio: 16 / 14;
}

#products .product_image img {
  width: 90%;
  height: 90%;
  display: block;
  margin: auto;
  background-size: cover;
  transition: 0.3s;
  border-radius: 16px;
  background-position: center;
  object-fit: cover;
}

#products .product_details {
  text-align: center;
}

#products .product_details p {
  font-size: 16px;
  color: var(--accent-1);
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

#products .product_heading {
  font-size: 28px;
  color: var(--secondary-color);
  text-align: center;
  font-weight: 600;
  margin: 30px 0;
}

#products .view_product_btn span {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: color 0.3s ease;
}

#products .view_product_btn span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease, background-color 0.3s ease;
}

#products .view_product_btn span:hover {
  color: var(--primary-color);
}

#products .view_product_btn span:hover::after {
  width: 100%;
  background-color: var(--primary-color);
}

#products {
  margin-top: 70px;
  font-family: var(--primary-font);
}

#products .pagination_outer {
  width: 100%;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
}

#products #pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  padding: 0;
  text-align: center;
}

#products #pagination li {
  display: inline;
}

#products #pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px !important;
  float: left;
}

#products #pagination li a i {
  font-size: 24px;
}

#products #pagination li .link {
  width: 40px;
  height: 40px;
}

#products #pagination li .next,
#products #pagination li .prev {
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#products #pagination li .prev i {
  color: var(--accent-1);
}

#products #pagination li .next i {
  color: var(--primary-color);
}

#products #pagination li .disable {
  color: var(--accent-1);
  padding: 5px 10px;
  border: 1px solid var(--accent-1);
}

#products #pagination li a {
  transition: background-color 0.4s;
}

#products #pagination li a.active {
  background: var(--primary-color);
  color: var(--white);
  border: none;
}

#products #pagination li a:hover:not(.active) {
  background: var(--primary-color);
  color: var(--white);
  border: none;
}

#products #pagination li a:hover:not(.active) i {
  color: var(--white);
  border: none;
}

@media screen and (max-width: 768px) {
  #products #pagination li .link {
    width: 34px;
    height: 34px;
  }

  #products #pagination li .next,
  #products #pagination li .prev {
    width: 50px;
    height: 34px;
  }
}

@media screen and (max-width: 992px) {
  #products .product_heading {
    font-size: 24px;
  }

  #products .heading {
    display: block;
  }

  #products .heading h2 {
    font-size: 34px;
  }
}

@media screen and (min-width: 768px) {
  #products .product_image_wrapper p {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 56px !important;
    line-height: 18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #products .product_image_wrapper .product_heading {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 60px !important;
    line-height: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 600px) {
  #products .product_details p {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 36px !important;
    line-height: 18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #products .product_heading {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 34px !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 576px) {
  #products .item:nth-last-child(1) {
    margin-bottom: 0px !important;
  }
}

/* Products End */
