@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */
:root {
  --primary-font: "Outfit";
  --secondary-font: "Roboto";
  --primary-color: #bf390b;
  --secondary-color: #111111;
  --gradient: linear-gradient(
    180deg,
    rgba(170, 170, 170, 0.1) 0%,
    #cfcfcf 100%
  );
  --accent-1: #595959;
  --accent-2: #a0a0a0;
  --accent-3: #cdcdcd;
  --accent-4: #ffddd1;
  --accent-5: #ebebeb;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

body {
  background: var(--white);
}
/*====================
  Reset Default CSS End
  ====================*/

/* Blog categorie Start */

.get_in_contact_mobile_view .heading,
.blog_categorie_wrapper .heading {
  font-size: 48px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.blog_categorie_wrapper .categories_item {
  font-family: var(--secondary-font);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.blog_categorie_wrapper .categories_item li {
  font-family: var(--secondary-font);
  margin: 12px 0px;
}

.blog_categorie_wrapper .categories_item a {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 6px;
  border: 1px solid var(--accent-3);
  color: var(--secondary-color);
  border-radius: 8px;
  transition: 0.4s;
}

.blog_categorie_wrapper .categories_item a:hover {
  background: var(--primary-color);
  color: var(--white);
  border-color: var(--primary-color);
}

.get_in_contact label {
  font-weight: 600;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.get_in_contact input {
  font-family: var(--secondary-font);
}

.get_in_contact textarea {
  font-family: var(--secondary-font);
  height: 120px !important;
}

.get_in_contact textarea,
.get_in_contact input {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-color);
  padding: 15px;
  border-radius: 6px;
  margin-top: 5px;
  outline: none;
  border: none;
  background: var(--accent-5);
}

.get_in_contact textarea::placeholder,
.get_in_contact input::placeholder {
  font-family: var(--secondary-font);
  color: var(--accent-1) !important;
}

.get_in_contact input::-webkit-outer-spin-button,
.get_in_contact input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.get_in_contact {
  margin-top: 60px;
}

.blog_categorie_wrapper .get_in_contact .submit_btn {
  font-family: var(--secondary-font);
  display: inline-block;
  background: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 14.5px 50px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.5s;
  position: relative;
  overflow: hidden;
}

.blog_categorie_wrapper .get_in_contact .submit_btn span {
  z-index: 999;
  font-family: var(--secondary-font);
}

.blog_categorie_wrapper .get_in_contact .submit_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  transition: transform 0.5s ease;
  z-index: 0;
}

.blog_categorie_wrapper .get_in_contact .submit_btn:hover::before {
  transform: translateX(100%);
}

.blog_categorie_wrapper .get_in_contact .submit_btn:hover {
  color: var(--white) !important;
}

.blog_categorie_wrapper .get_in_contact .submit_btn span {
  position: relative;
  z-index: 1;
}

.get_in_item_wrapper .get_in_item:nth-last-child(1) {
  margin-bottom: 0px;
}

.get_in_contact_desktop_view {
  display: block;
}

.get_in_contact_mobile_view {
  display: none;
}

@media screen and (max-width: 992px) {
  .get_in_contact_desktop_view {
    display: none;
  }

  .get_in_contact_mobile_view {
    display: block;
  }

  .blog_categorie_wrapper .categories {
    margin-bottom: 60px;
  }

  .get_in_contact_mobile_view .heading,
  .blog_categorie_wrapper .heading {
    font-size: 34px;
  }

  .blog_categorie_wrapper .get_in_contact .submit_btn {
    font-size: 16px;
    padding: 10px 30px;
  }
}

/* Blog categorie End */

/* Blog Content Start */

#blog {
  margin-top: 70px;
}

#blog .item-active img {
  filter: brightness(50%);
}

#blog .item {
  margin-bottom: 40px;
}

#blog .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  background-size: contain;
  cursor: pointer;
}

#blog .play-icon svg {
  width: 70px;
  height: 70px;
}

#blog .play-icon svg path {
  fill: var(--white) !important;
}

#blog .play-icon svg circle {
  stroke: transparent !important;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest_blog_box .modal-content {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.latest_blog_box .close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: -12%;
  right: 0%;
  border: 1px solid white;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#blog .blog_box_wrapper {
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: transparent;
}

#blog .customer_details {
  padding: 10px;
}

#blog .blog_box_wrapper .latest_image {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
  aspect-ratio: 16 / 13;
}

#blog .blog_box_wrapper .latest_image:hover img {
  transform: scale(1.1);
}

#blog .blog_box_wrapper .latest_image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: 0.3s;
  background-position: center;
  object-fit: cover;
}

#blog .blog_box_wrapper .box_details_heading {
  font-size: 28px;
  color: var(--secondary-color);
  font-weight: 600;
  margin: 0px;
}

#blog .blog_box_wrapper p {
  font-size: 16px;
  color: var(--accent-1);
  font-weight: 500;
  margin: 20px 0;
}

#blog .blog_box_wrapper .calender_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 15px 0px;
}

#blog .blog_box_wrapper .calender_wrapper .calender {
  font-family: var(--secondary-font);
  gap: 5px;
  font-size: 16px;
  margin: auto;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  border-radius: 8px;
  padding: 8px 10px;
  background: var(--accent-4);
  font-weight: 500;
}

#blog .blog_box_wrapper .calender_wrapper .calender span {
  font-family: var(--secondary-font);
}

#blog .blog_box_wrapper .calender_wrapper svg {
  width: 20px;
  height: 20px;
}

.read_more_btn {
  display: inline-block;
  background: transparent;
  position: relative;
  transition: color 0.4s ease;
  margin: auto;
  border-bottom: 2px solid transparent;
}

.read_more_btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.4s ease, background-color 0.4s ease;
}

.read_more_btn span {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
  font-family: var(--secondary-font);
  transition: color 0.4s ease;
}

.read_more_btn:hover {
  color: var(--primary-color);
}

.read_more_btn:hover::after {
  width: 100%;
  background-color: var(--primary-color);
}

.read_more_btn:hover span {
  color: var(--primary-color);
}

#blog .blog_box_wrapper .read_more_btn:hover {
  color: var(--secondary-color);
}

/* Pagination */

#blog .pagination_outer {
  width: 100%;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
}

#blog #pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  padding: 0;
  text-align: center;
}

#blog #pagination li {
  display: inline;
}

#blog #pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px !important;
  float: left;
}

#blog #pagination li a i {
  font-size: 24px;
}

#blog #pagination li .link {
  width: 40px;
  height: 40px;
}

#blog #pagination li .next,
#blog #pagination li .prev {
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#blog #pagination li .next i {
  color: var(--primary-color);
}

#blog #pagination li .disable {
  color: var(--accent-2);
  padding: 5px 10px;
  border: 1px solid var(--accent-2);
}

#blog #pagination li a {
  transition: background-color 0.4s;
}

#blog #pagination li a.active {
  background: var(--primary-color);
  color: var(--white);
}

#blog #pagination li a:hover:not(.active) {
  background: var(--primary-color);
  color: var(--white);
}

#blog #pagination li a:hover:not(.active) i {
  color: var(--white);
}

@media screen and (max-width: 992px) {
  #blog .blog_box_wrapper .box_details_heading {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  #blog .pagination_outer {
    justify-content: center;
  }

  #blog #pagination li .link {
    width: 34px;
    height: 34px;
  }

  #blog #pagination li .next,
  #blog #pagination li .prev {
    width: 50px;
    height: 34px;
  }

  .close {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #blog .blog_box_wrapper p {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 56px !important;
    line-height: 18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #blog .blog_box_wrapper .box_details_heading {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 60px !important;
    line-height: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Blog Content End */
