@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */
:root {
  --primary-font: "Outfit";
  --secondary-font: "Roboto";
  --primary-color: #bf390b;
  --secondary-color: #111111;
  --gradient: linear-gradient(
    180deg,
    rgba(170, 170, 170, 0.1) 0%,
    #cfcfcf 100%
  );
  --accent-1: #595959;
  --accent-2: #a0a0a0;
  --accent-3: #cdcdcd;
  --accent-4: #ffddd1;
  --accent-5: #ebebeb;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

p {
  font-family: var(--secondary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

body {
  background: var(--white);
}

/*====================
  Reset Default CSS End
  ====================*/

/* Preloader Start */

.preloader {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99999;
  background: var(--secondary-color);
}

.preloader .loader {
  width: 240px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--secondary-color);
}
.loader .brick {
  width: 60px;
  height: 20px;
  background: var(--primary-color);
  border: 2px solid var(--accent-3);
  position: absolute;
  visibility: hidden;
  -webkit-animation: bricks 4500ms infinite;
  animation: bricks 4500ms infinite;
  box-shadow: 0 0 0 1px #b3b3b3;
}
.loader .brick:nth-child(0) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.loader .brick:nth-child(1) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader .brick:nth-child(2) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loader .brick:nth-child(3) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.loader .brick:nth-child(4) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.loader .brick:nth-child(5) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.loader .brick:nth-child(6) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.loader .brick:nth-child(7) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.loader .brick:nth-child(8) {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.loader .brick:nth-child(9) {
  -webkit-animation-delay: 2.7s;
  animation-delay: 2.7s;
}
.loader .brick:nth-child(10) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.loader .brick:nth-child(1) {
  bottom: 0;
  left: 0;
}
.loader .brick:nth-child(2) {
  bottom: 0;
  left: 60px;
}
.loader .brick:nth-child(3) {
  bottom: 0;
  left: 120px;
}
.loader .brick:nth-child(4) {
  bottom: 0;
  left: 180px;
}
.loader .brick:nth-child(5) {
  bottom: 20px;
  left: 30px;
}
.loader .brick:nth-child(6) {
  bottom: 20px;
  left: 90px;
}
.loader .brick:nth-child(7) {
  bottom: 20px;
  left: 150px;
}
.loader .brick:nth-child(8) {
  bottom: 40px;
  left: 60px;
}
.loader .brick:nth-child(9) {
  bottom: 40px;
  left: 120px;
}
.loader .brick:nth-child(10) {
  bottom: 60px;
  left: 90px;
}
@-webkit-keyframes bricks {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes bricks {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.preloader .loading {
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  position: absolute;
  bottom: -35%;
  left: 0;
  right: 0;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--primary-font);
}
/* Preloader End */
